asgiref==3.8.1
coloredlogs==15.0.1
Django==4.2.7
faiss-gpu==1.7.2
flatbuffers==25.2.10
humanfriendly==10.0
imageio==2.37.0
lazy_loader==0.4
mkl-service==2.4.0
numpy==1.23.0
onnx==1.14.1
onnxruntime-gpu==1.15.0
opencv-python==4.8.1.78
packaging==24.2
Pillow==9.3.0
protobuf==6.30.1
pycryptodome==3.22.0
PyWavelets==1.6.0
scikit-image==0.24.0
scipy==1.13.1
sqlparse==0.5.3
tifffile==2024.8.30
#torch==2.0.0
#torchaudio==2.0.0
#torchvision==0.15.0
triton==2.0.0
